<section class="post-comments">

  


  <div id="container"></div>
  <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
  <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
  <script>
  var gitment = new Gitment({
    id: '', // 可选。默认为 location.href
    owner: 'Snowty',
    repo: 'Snowty.github.io',
    oauth: {
      client_id: '1c6bdb0a02ec35d98436',
      client_secret: 'd22a904bbaff6e64cc5ab9ea286573ebc448ae3c',
    },
  })
  gitment.render('container')
  </script>
  
  
  
</section>
